/* Basic page styling */
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #1e3c72, #2a5298);
  font-family: "Poppins", sans-serif;
}

/* Glass card */
.glass-card {
  width: 350px;
  padding: 30px;
  border-radius: 20px;

  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border: 1px solid rgba(255, 255, 255, 0.25);
  text-align: center;
  color: #ffffff;
}

/* Heading */
.glass-card h2 {
  margin-bottom: 20px;
  letter-spacing: 1px;
}

/* Progress bar container */
.progress-container {
  width: 100%;
  height: 12px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 15px;
}

/* Moving progress bar */
.progress-bar {
  height: 100%;
  width: 0;
  background: linear-gradient(90deg, #00c6ff, #0072ff);
  border-radius: 20px;
  /* transition: width 0.2s ease-in-out; */
}

/* Percentage text */
.percent {
  font-size: 20px;
  font-weight: bold;
  margin-top: 8px;
}
